/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: #F5D7DB; /* Light pink for text */
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Viewport height */
    background-color: #06142E; /* Dark blue background */
}

.main-content {
    flex: 1; /* Pushes the footer down */
    background-color: #1B3358; /* Secondary blue for main content */
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

/* Header Styles */
.site-header {
    background: #473E66; /* Dark purple background */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-right: auto; /* Pushes everything else to the right */
}

.logo img.navbar-logo {
    height: 30px;
    width: auto;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-nav li {
    margin-left: 10px;
}

.nav-button {
    background: none;
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    color: #F5D7DB; /* Light pink for buttons */
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-button:hover, .nav-button:focus {
    color: #BD83B8; /* Light purple for hover */
}

/* Footer Styles */
.site-footer {
    background: #F1916D; /* Coral color */
    padding: 20px 0;
    color: #F5D7DB; /* Light pink text */
    text-align: center;
}

/* Dropdown styles */
.dropbtn {
    cursor: pointer;
    color: #F5D7DB;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #473E66; /* Dark purple */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #F5D7DB;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #BD83B8; /* Light purple */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .wrapper {
        padding: 0 10px;
    }

    .site-header {
        flex-direction: column;
        align-items: center;
    }

    .logo, .main-nav {
        justify-content: center;
        width: 100%;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav li {
        margin: 5px 0;
    }

    .dropdown-content {
        right: 0;
        left: 0;
        width: 100%;
    }
}
