{% extends 'core/base.html' %}
{% load static %}
{% block page_specific_css %}
    <style>
    /* Auth Container Styles */
.auth-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #BD83B8; /* Light purple border */
    border-radius: 5px;
    background-color: #F5D7DB; /* Light pink background */
    text-align: center;
}

.auth-container h2 {
    margin-bottom: 20px;
    color: #473E66; /* Dark purple for heading */
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container .form-group {
    margin-bottom: 15px;
}

.auth-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Dark text for labels */
}

.auth-container input[type='password'] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #BD83B8; /* Light purple border */
    border-radius: 4px;
    margin-bottom: 15px;
}

.btn-reset {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #F1916D; /* Coral for buttons */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-reset:hover {
    background-color: #BD83B8; /* Light purple on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .auth-container {
        width: 90%;
        padding: 15px;
    }

    .auth-container h2 {
        font-size: 1.5rem;
    }

    .btn-reset {
        font-size: 14px;
    }
}

    </style>
{% endblock page_specific_css %}
{% block content %}
    <div class="auth-container">
        <h2>Enter New Password</h2>
        <form method="post" class="password-reset-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn-reset">Change my password</button>
        </form>
    </div>
{% endblock %}
