{% extends 'core/base.html' %}
{% load static %}
{% block page_specific_css %}
    <style>
        /* Password Reset Form Styles */
        .sign-in-container {
            max-width: 400px;
            margin: 40px auto;
            padding: 20px;
            border: 1px solid #BD83B8; /* Light purple border */
            border-radius: 5px;
            background-color: #F5D7DB; /* Light pink background */
        }

        .sign-in-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #473E66; /* Dark purple for heading */
        }

        .sign-in-container p {
            color: #333333; /* Darker text for better contrast */
            margin-bottom: 15px;
        }

        .password-reset-form {
            display: flex;
            flex-direction: column;
        }

        .password-reset-form .form-group {
            margin-bottom: 15px;
        }

        .password-reset-form .form-group label {
            color: #333333; /* Darker label for better contrast */
            display: block;
            margin-bottom: 5px;
        }

        .password-reset-form .form-group input[type='email'] {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #BD83B8; /* Light purple border */
            border-radius: 4px;
            background-color: #FFFFFF; /* White background for input */
            color: #333333; /* Dark text for input */
        }

        .btn-reset {
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #F1916D; /* Coral for buttons */
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        .btn-reset:hover {
            background-color: #BD83B8; /* Light purple on hover */
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .sign-in-container {
                width: 90%;
                padding: 15px;
            }

            .sign-in-container h2 {
                font-size: 1.5rem;
            }

            .btn-reset {
                font-size: 14px;
            }
}

    </style>
{% endblock page_specific_css %}
{% block content %}
<div class="sign-in-container">
  <h2>Password Reset</h2>
  <p>Please enter your email address to receive a link to reset your password.</p>

  <form method="post" class="password-reset-form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>
    <button type="submit" class="btn-reset">Send email</button>
  </form>
</div>
{% endblock %}
